@model PagedList.PagedList<PhoneStore.Models.SanPham>
@using PhoneStore.Models
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/HomeAdmin/Share/Layout.cshtml";
}


<link rel="stylesheet" href="~/Content/PagedList.css" />
<h2>Danh Mục Sản Phẩm</h2>
